.khan__quote {
  width: 790px;
  margin:0;
  padding: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  padding-bottom: 36px;
}

.khan__quote-author {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: 700;
}
  
.khan__quote-author-subline {
  margin:0 0 68px;
  padding: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: normal;
  
}